<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nakyeonko</title>
    <!-- chart.js  -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
    <!--  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <section>
      <div>
        <span id="temperValue"></span>
        <span>C</span>
      </div>
      <div id="chart">
        <canvas id="temperChart"></canvas>
      </div>
    </section>
    <script src="{{  url_for('static', filename='js/renderTemperValue.js' )}}"></script>
    <script src="{{  url_for('static', filename='js/temperChart.js')}}"></script>
  </body>
</html>
